/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Define Root Variables for Colors */
:root {
    --primary-color: #007bff;
    /* Blue */
    --secondary-color: #6c757d;
    /* Gray */
    --accent-color: #ff5722;
    /* Orange */
    --background-color: #f8f9fa;
    /* Light Gray */
    --text-color: #333;
    /* Dark Gray */
}

/* Apply Styles to the Body */
body {
    font-family: 'Arial', sans-serif;
    /* Choose a readable font */
    font-size: 16px;
    /* Base font size */
    line-height: 1.6;
    /* Improve readability */
    color: var(--text-color);
    /* Use defined color */
    background-color: var(--background-color);
    /* Set page background */
    /* padding: 20px; */
    /* Add some spacing around the content */
    background-color: #F2F5F6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin-bottom: 10px;
    /* Space below headings */
}

/* Paragraphs */


/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    all: unset;
    /* Removes default browser styles */
    cursor: pointer;
    outline: none;
}


a:hover {
    text-decoration: underline;
}

/* Consistent Spacing */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.content {
    flex: 1;
    text-align: center;
    padding: 50px;
}


/* Site-Credits */
#Site-Credits {
    background-color: #F2F5F6;
    border-top: 1px solid #000000;
    padding: 22px 0;
    min-height: 72px;
    color: #92A7B0;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 20px;

    .copy-rights,
    .Terms {
        display: flex;
        gap: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: right;

    }

    .Language {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;
    }

    .Language img {
        width: 20px;
        height: 20px;
    }
}


@media (max-width: 768px) {
    .containers {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 10px;
    }
}