/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* Define Root Variables for Colors */
:root {
    --primary-color: #007bff;
    /* Blue */
    --secondary-color: #6c757d;
    /* Gray */
    --accent-color: #ff5722;
    /* Orange */
    --background-color: #f8f9fa;
    /* Light Gray */
    --text-color: #333;
    /* Dark Gray */
}

/* Apply Styles to the Body */
body {
    font-family: 'Arial', sans-serif;
    /* Choose a readable font */
    font-size: 16px;
    /* Base font size */
    line-height: 1.6;
    /* Improve readability */
    color: var(--text-color);
    /* Use defined color */
    background-color: var(--background-color);
    /* Set page background */
    /* padding: 20px; */
    /* Add some spacing around the content */
    background-color: #F2F5F6;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    margin-bottom: 10px;
    /* Space below headings */
}

/* Paragraphs */
p {
    margin-bottom: 10px;
}

/* Links */
a {
    color: var(--primary-color);
    text-decoration: none;
}

button {
    all: unset;
    /* Removes default browser styles */
    cursor: pointer;
    outline: none;
}


a:hover {
    text-decoration: underline;
}

/* Consistent Spacing */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

#hero {
    width: 100%;
    height: 100vh;

    .hero-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .navbar {
            height: 98px;
            width: 100%;
            display: flex;
            padding: 0 2%;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 24px;
            }

            .navigation {
                ul {
                    font-family: Lato;
                    font-weight: 800;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;
                    width: 100%;
                    display: flex;
                    gap: 40px;
                    list-style: none;

                    li {
                        a {
                            color: #043A53;
                        }
                    }
                }
            }

            .auth-buttons {
                display: flex;
                gap: 10px;

                .menu-btn {
                    display: none;
                }

                .login-btn {
                    background-color: #FFFFFF;
                    border-radius: 42px;
                    width: 92px;
                    height: 50px;
                    color: #12141D;
                    font-weight: 800;
                    font-size: 16px;
                    text-align: center;
                }

                .signin-btn {
                    background-color: #043A53;
                    border-radius: 42px;
                    width: 92px;
                    height: 50px;
                    color: #FFFFFF;
                    font-weight: 800;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }

        .hero-banner {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .banner-content {
                width: 100%;
                max-width: 1220px;
                min-height: 320px;
                display: flex;
                justify-content: space-between;

                .banner-image-left {}

                .banner-image-group {
                    display: none;
                }

                .banner-text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .hero-tagline {
                        font-family: Lato;
                        font-weight: 800;
                        font-size: 64px;
                        line-height: 60px;
                        text-align: center;
                        color: #12141D;

                        .highlight-text {
                            color: #043A53 !important;
                        }
                    }

                    .hero-subtagline {
                        font-weight: 500;
                        font-size: 20px;
                        text-align: center;
                        color: #12141D !important;
                    }

                    .cta-buttons {
                        margin-top: 28px;
                        width: fit-content;
                        display: flex;
                        gap: 32px;
                        align-items: center;
                        justify-content: center;

                        .cta-start-btn {
                            width: 141px;
                            background-color: #043A53;
                            border-radius: 42px;
                            height: 60px;
                            color: #FFFFFF;
                            font-weight: 800;
                            font-size: 16px;
                            text-align: center;
                        }

                        .cta-video-btn {
                            width: 235px;
                            height: 60px;
                            display: flex;
                            align-items: center;
                            gap: 16px;
                            color: #043A53;
                            font-weight: 700;
                            font-size: 18px;
                            text-align: right;

                            .img {
                                width: 35px;
                                height: 35px;
                            }
                        }
                    }
                }

                .banner-image-right {}
            }
        }

        .trusted-companies {
            width: 100%;
            min-height: 132px;
            background-color: #FFFFFF;
            padding: 2%;
            display: flex;
            align-items: center;
            justify-content: center;

            .trusted-companies-group {
                max-width: 1240px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .trusted-title {
                color: #000000 !important;
                font-weight: 500;
                font-size: 16px;
            }

            .company-logos {
                width: fit-content;
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }

    /* Hero Section Media Queries */
    @media (max-width: 1024px) {
        .banner-text {
            padding: 0 5%;
        }

        .banner-image-left,
        .banner-image-right,
        .navigation,
        .login-btn,
        .signin-btn {
            display: none;
        }

        .auth-buttons {
            .menu-btn {
                display: none;
            }
        }
    }

    @media (max-width: 980px) {
        .hero-container {
            .navbar {
                min-height: 72px;

                .auth-buttons {
                    .menu-btn {
                        display: flex;
                    }
                }
            }
        }

        /* Trusted companies */
        .trusted-companies {
            .trusted-companies-group {
                flex-direction: column;
                padding-top: 1% !important;
                justify-content: center !important;
                min-height: fit-content;
            }

            .company-logos {
                gap: 14px !important;
                justify-content: center !important;
            }
        }
    }

    @media (max-width: 768px) {
        .hero-tagline {
            font-weight: 700 !important;
            font-size: 36px !important;
            line-height: 44px !important;
        }

        .hero-subtagline {
            font-weight: 500;
            font-size: 14px !important;
            text-align: center;
        }

        .cta-buttons {
            flex-direction: column;
        }
    }

    @media (max-width: 426px) {
        .hero-container {
            .hero-banner {
                .banner-content {
                    flex-direction: column;

                    .banner-image-group {
                        display: flex !important;

                        .img {
                            width: 80%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 375px) {
        .banner-image-group {
            justify-content: center;
            width: 100%;

            .image-two {
                display: none;
            }
        }
    }
}



/* video-section */
#video-section {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 994px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #043A53;
    padding: 2%;

    .video-group {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1%;

        .label-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            max-width: 1140px;
            height: 144px;
            gap: 5px;

            .label-header {
                width: 60%;
                font-weight: 700;
                font-size: 60px;
                line-height: 72px;
                color: #FFFFFF;
                flex-direction: column;
                display: flex;

                .teams-professionals-text {
                    color: #F0B73F;
                    width: fit-content;
                }

                .high-level-sales-text {
                    width: fit-content;
                }
            }

            .label-description {
                width: 40%;
                font-family: Lato, sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
                text-align: justify;
            }
        }

        .video-container {
            position: relative;
            max-width: 1130px;
            max-height: 630px;
            display: flex;
            justify-content: center;
            align-items: center;

            .video-thumbnail {
                position: relative;
                display: inline-block;
                cursor: pointer;

                .video-preview-image {
                    width: 100%;
                    height: fit-content;
                    border-radius: 10px;
                    display: block;
                }

                .play-icon-container {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 60px;
                    color: rgba(0, 0, 0, 0.6);
                    background: white;
                    padding: 15px 30px;
                    border-radius: 50%;
                    transition: background 0.3s;
                }

                &:hover .play-icon-container {
                    background: white;
                }
            }
        }
    }

    /* Media Queries */
    @media (max-width: 1180px) {
        .video-group {
            padding: 2%;
            gap: 3%;

            .label-wrapper {
                padding: 2%;
                gap: 10px;
                flex-direction: column;
                width: 100%;

                .label-header {
                    width: 100%;
                }

                .label-description {
                    width: 100%;
                }
            }

            .video-container {
                margin-top: 32px;
            }
        }
    }

    @media (max-width: 780px) {
        .video-group {
            padding: 2%;
            gap: 32px;

            .label-wrapper {
                .label-header {
                    font-weight: 700;
                    font-size: 30px !important;
                    line-height: 38px;
                    letter-spacing: 0%;
                }

                .label-description {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0%;
                }
            }

            .video-container {
                position: relative;
                max-width: 1130px;
                max-height: 330px;
                display: flex;
                justify-content: center;
                align-items: center;

                .video-thumbnail {
                    .play-icon-container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 25px;
                        padding: 10px 20px;
                    }
                }
            }
        }
    }

    @media (max-width: 450px) {
        height: max-content;
    }
}


/* Benefits Section */
#benefits {
    width: 100%;
    height: 100%;
    min-height: 670px;
    text-align: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5% 0%;

    .section-title {
        width: 100%;
        max-width: 256px;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 32px;

        button {
            width: fit-content;
            color: #FFFFFF;
            padding: 4px 24px;
            border-radius: 100px;
            height: 43px;
            background-color: #043A53;
            text-align: center;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 18px;
            line-height: 35px;

        }

        h1 {
            font-weight: 700;
            font-size: 60px;
            line-height: 72px;
            color: #12141D;
        }

        p {
            font-family: Lato;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #12141D;
            text-align: justify;
        }
    }

    .benefits-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        .benefit-card {
            background: #F2F5F6;
            padding: 20px;
            width: 280px;
            min-height: 390px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: left;
            transition: transform 0.3s;

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 93px;
                height: 84px;
                margin-bottom: 15px;
            }

            h3 {
                color: #12141D;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
            }

            p {
                color: #404040;
                font-weight: 400;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    /* Media Queries */
    @media (max-width: 1024px) {
        .section-title {
            text-align: center;
        }

        .benefits-container {
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        .section-title {
            h1 {
                font-size: 48px;
                line-height: 58px;
            }

            p {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .benefits-container {
            gap: 16px;
        }
    }

    @media (max-width: 480px) {
        .section-title {
            align-items: center;
            gap: 16px;
            max-width: 80%;

            button {
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                height: 28px;
            }

            h1 {
                font-weight: 700;
                font-size: 30px;
                line-height: 38px;
                letter-spacing: 0%;
                text-align: center;
            }

            p {
                font-family: Lato;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;


            }
        }

        .benefit-card {
            width: 100%;
            max-width: 280px;
        }
    }
}

/* building-bridges */
#building-bridges {

    .container {
        width: 100%;
        display: flex;
        min-height: 700px;

        /* flex-wrap: wrap-reverse; */

        .Section-A {
            position: relative;
            width: 100%;

            .Client-img {
                width: 80%;
                height: 100%;

                object-fit: cover;
            }

            .Client-img-label {
                position: absolute;
                right: 0%;
                bottom: 5%;
                width: 209px;
                height: 209px;
            }
        }

        .Section-B {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                width: 100%;
                max-width: 550px;
                font-weight: 700;
                font-size: 60px;
                line-height: 72px;
                color: #12141D;

                span {
                    color: #92A7B0;
                }
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                color: #12141D;
            }

            button {
                height: 64px;
                width: 205px;
                margin-top: 32px;
                background-color: #043A53;
                font-weight: 700;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: right;
                vertical-align: middle;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 25px;
                border-radius: 55px;

                img {
                    width: 32px;
                    height: 32px;

                }
            }
        }
    }


    @media (max-width: 768px) {
        .container {
            flex-wrap: wrap-reverse;
            gap: 32px;

            .Section-A {
                position: relative;
                width: 100%;

                .Client-img {
                    width: 80%;
                }

                .Client-img-label {
                    position: absolute;
                    right: 5%;
                    bottom: 5%;
                    width: 149px;
                    height: 149px;
                }
            }

            .Section-B {
                align-items: center;

                h1 {
                    width: 100%;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 38px;
                    text-align: center;
                    text-transform: capitalize;

                    span {
                        color: #92A7B0;
                    }
                }

                p {
                    width: 70%;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: center;
                }

                button {
                    width: 205px;
                    height: 64px;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: right;
                    vertical-align: middle;

                    img {
                        width: 24px;
                        height: 24px;

                    }
                }
            }

        }

    }

}


/* Numbers Section */
#numbers {
    width: 100%;
    min-height: 320px;
    padding: 80px 20px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .numbers-grid {
            display: flex;
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;

            .number-card {
                background: white;
                padding: 20px;
                width: 237px;
                height: 120px;
                /* border-radius: 12px; */
                /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s;

                &:hover {
                    transform: translateY(-5px);
                }

                .number {
                    color: #043A53;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 72px;
                    text-align: center;
                }

                p {
                    color: #1E1E1E;
                    margin-top: 10px;
                    font-family: Lato;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    text-align: center;

                }
            }
        }
    }

    /* Responsive Design */
    @media (max-width: 1024px) {
        .container {
            gap: 20px;
        }

        .numbers-grid {
            gap: 20px;
        }
    }

    @media (max-width: 768px) {
        padding: 60px 10px;

        .number-card {
            width: 200px;
            height: 160px;

            .number {
                font-size: 32px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    @media (max-width: 480px) {
        .number-card {
            width: 180px;
            height: 140px;
        }
    }
}